# workshop preparation

## Task
1. set up two notebooks for data preparation for long-term and short-term analysis





## Does Reticulate work with Aaron's package?

In [10]:
library(reticulate)

In [2]:
Sys.which('python')

                 python
"/opt/conda/bin/python"

# Option 1: call python script from R
This will capture output as a R list. Access objects through `XX$XX`

In [ ]:
result = py_run_file("EDA-PhosPerch.py")

In [ ]:
result$df_perch

# Option 2: pass R data frame to python 
This will capture output as a R list. Access objects through `XX$XX`

In [11]:
source_python("cpt/dp.py")
source_python("cpt/data.py")
source_python("cpt/cost.py")
source_python("cpt/functions.py")
source_python("cpt/penalty.py")
source_python("cpt/df_to_ts.py")

In [12]:
penfun = PENFUN_BIC
NORMAL_MEANVAR

In [13]:
list(NORMAL_MEANVAR,NORMAL_MEANVAR)

[[1]]
<function NORMAL_MEANVAR at 0x7f8c9357a268>

[[2]]
<function NORMAL_MEANVAR at 0x7f8c9357a268>

In [ ]:
DF_TO_TS

In [26]:
#from cpt.dp import CPT_DSF, DP_allpenfast
#from cpt.cost import NORMAL_MEANVAR
#from cpt.penalty import PENFUN_BIC

#df_perch = data.frame(DATETIME = 1:10, VALUE=1:10)
#df_phos = data.frame(DATETIME = 1:100, VALUE=1:100)
df_perch = ts(1:72, start=c(2009, 1), end=c(2014, 12), frequency=12)
df_phos = ts(1:72, start=c(2009, 1), end=c(2014, 12), frequency=12)
ts = list(df_perch, df_phos)
names = c('Perch', 'Phos')
N = length(ts)
costfun = list()
for(i in 1:N) {costfun[[i]] <- NORMAL_MEANVAR}
penfun = PENFUN_BIC
minseglen = rep(2,N)

In [27]:

#hat_cpts, hat_cpts_uni, hat_lik, hat_lik_uni =
a = CPT_DSF(ts, costfun, penfun, minseglen, DP_allpenfast)

ERROR: Error in py_call_impl(callable, dots$args, dots$keywords): TypeError: 'builtin_function_or_method' object is not iterable

Detailed traceback:
  File "<string>", line 20, in CPT_DSF
  File "<string>", line 17, in BLOAT_COUNT_OBS
  File "<string>", line 7, in ALL_INDICES
  File "<string>", line 7, in <listcomp>

In [17]:
penfun

In [22]:
r_to_py( ts(1:72, start=c(2009, 1), end=c(2014, 12), frequency=12))

List (72 items)

In [23]:
ts(1:72, start=c(2009, 1), end=c(2014, 12), frequency=12)

     Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec
2009  1   2   3   4   5   6   7   8   9  10  11  12
2010 13  14  15  16  17  18  19  20  21  22  23  24
2011 25  26  27  28  29  30  31  32  33  34  35  36
2012 37  38  39  40  41  42  43  44  45  46  47  48
2013 49  50  51  52  53  54  55  56  57  58  59  60
2014 61  62  63  64  65  66  67  68  69  70  71  72