In [125]:
setwd("/data/notebooks/jupyterlab-workshop")
source("R/helper.R")
library(dplyr)
library(ggplot2)
options(repr.plot.width = 27, repr.plot.height = 15)

Parsed with column specification:
cols(
  IM_SPEC = col_double(),
  DESC_LATIN = col_character(),
  DESC_COMMON = col_character(),
  IM_GROUP = col_character()
)

Parsed with column specification:
cols(
  IM_SPEC = col_character(),
  DESC_LATIN = col_character(),
  DESC_COMMON = col_character(),
  IM_GROUP = col_character()
)

In [126]:
sitecodes = c("T08", "T07")
fieldnames = c("DRYTMP", "RAIN")

In [127]:
head(inputDataMA)

  DATE       FIELDNAME SITECODE daily
1 1991-05-28 DRYTMP    T04       5.490000
2 1991-05-28 NETRAD    T04       6.555556
3 1991-05-28 RAIN      T04       0.000000
4 1991-05-28 SOLAR     T04      58.888889
5 1991-05-28 STMP10    T04      10.022222
6 1991-05-28 STMP30    T04       9.155556

In [128]:
select_weather <- inputDataMA %>% 
    dplyr::filter(SITECODE %in% sitecodes, FIELDNAME %in% fieldnames) 

#data_moth <- multi_site_analysis(sites = c("T08", "T09"),#, "T06"),
#                            dataset = "moth", 
#                            daterange = c("1950-01-01","2021-01-01"),
#                            avg_missing_data = TRUE, 
#                            plotPredOpt = NA)
inputData(
            list(dataset = "moth",
                 site = "T08", 
                 daterange = c("1950-01-01","2021-01-01"),
                 avg_missing_data = TRUE,
                 plotPredOpt = NA  # either groups (G,M,N,O) or species (`list_interesting_moth %>% distinct(DESC_COMMON)`)
                )) 


#print( select_weather )
#select_weather %>%
#    ggplot2::ggplot(aes(x=DATE, y=daily, colour=FIELDNAME)) + 
#    geom_point() +
#    facet_grid(cols=vars(SITECODE), rows=vars(FIELDNAME), scales="free_y")

[1] "site:" "T08"
[1] "Date"

Joining, by = "DATE"

The number of unsampled days during the selected date range at this site is: 2424.

The top 10 unsampled periods during the selected date range at this site is:

# A tibble: 10 x 4
# Groups:   seq_id [10]
   seq_id STARTDATE  ENDDATE    duration
    <dbl> <date>     <date>        <int>
 1    600 2014-12-03 2015-03-12      100
 2     79 2000-01-02 2000-03-09       68
 3    467 2011-12-22 2012-02-23       64
 4    171 2004-12-17 2005-02-17       63
 5    510 2012-12-18 2013-02-14       59
 6    205 2006-01-05 2006-02-26       53
 7    551 2013-12-24 2014-02-06       45
 8    202 2005-11-16 2005-12-20       35
 9    135 2004-01-08 2004-02-10       34
10    246 2007-01-19 2007-02-18       31

# A tibble: 18,201 x 35
# Groups:   DATE [6,027]
   SITECODE LCODE FIELDNAME VALUE station DATE       FLAGID DESC_LATIN
   <fct>    <int> <chr>     <int> <chr>   <date>      <int> <chr>
 1 T08          1 XX            0 T08-1   1992-10-22     NA No moths …
 2 T08          1 635           1 T08-1   1992-10-23     NA Autograph…
 3 T08          1 XX            0 T08-1   1992-10-24     NA No moths …
 4 T08          1 XX            0 T08-1   1992-10-25     NA No moths …
 5 T08          1 XX            0 T08-1   1992-10-26     NA No moths …
 6 T08          1 XX            0 T08-1   1992-10-27     NA No moths …
 7 T08          1 XX            0 T08-1   1992-10-28     NA No moths …
 8 T08          1 XX            0 T08-1   1992-10-29     NA No moths …
 9 T08          1 XX            0 T08-1   1992-10-30     NA No moths …
10 T08          1 550           1 T08-1   1992-10-31     NA Brachiony…
# … with 18,191 more rows, and 27 more variables: DESC_COMMON <chr>,
#   IM_GROUP <chr>, Genus <chr>, species <chr>, `COMMON NAME` <chr>,
#   Family <chr>, UK_DIST <dbl>, LARVAL_PLANT <dbl>, FEED_SPEC <dbl>,
#   HAB1 <dbl>, HAB2 <dbl>, HAB3 <dbl>, HAB4 <dbl>, HAB5 <dbl>, HAB6 <dbl>,
#   HAB7 <dbl>, HAB8 <dbl>, HAB9 <dbl>, WINGSPAN <dbl>, SPAN_GRP <dbl>,
#   OVERWINTER <dbl>, VOLT <dbl>, FLY_TIME <dbl>, LARVA_TIME1 <dbl>,
#   LARVA_TIME2 <dbl>, LARVA_TIME3 <dbl>, LARVA_TIME4 <dbl>

# A tibble: 0 x 35
# Groups:   DATE [0]
# … with 35 variables: SITECODE <fct>, LCODE <int>, FIELDNAME <chr>,
#   VALUE <int>, station <chr>, DATE <date>, FLAGID <int>, DESC_LATIN <chr>,
#   DESC_COMMON <chr>, IM_GROUP <chr>, Genus <chr>, species <chr>, `COMMON
#   NAME` <chr>, Family <chr>, UK_DIST <dbl>, LARVAL_PLANT <dbl>,
#   FEED_SPEC <dbl>, HAB1 <dbl>, HAB2 <dbl>, HAB3 <dbl>, HAB4 <dbl>,
#   HAB5 <dbl>, HAB6 <dbl>, HAB7 <dbl>, HAB8 <dbl>, HAB9 <dbl>, WINGSPAN <dbl>,
#   SPAN_GRP <dbl>, OVERWINTER <dbl>, VOLT <dbl>, FLY_TIME <dbl>,
#   LARVA_TIME1 <dbl>, LARVA_TIME2 <dbl>, LARVA_TIME3 <dbl>, LARVA_TIME4 <dbl>

# A tibble: 18,201 x 35
# Groups:   DATE [6,027]
   SITECODE LCODE FIELDNAME VALUE station DATE       FLAGID DESC_LATIN
   <fct>    <int> <chr>     <int> <chr>   <date>      <int> <chr>
 1 T08          1 XX            0 T08-1   1992-10-22     NA No moths …
 2 T08          1 635           1 T08-1   1992-10-23     NA Autograph…
 3 T08          1 XX            0 T08-1   1992-10-24     NA No moths …
 4 T08          1 XX            0 T08-1   1992-10-25     NA No moths …
 5 T08          1 XX            0 T08-1   1992-10-26     NA No moths …
 6 T08          1 XX            0 T08-1   1992-10-27     NA No moths …
 7 T08          1 XX            0 T08-1   1992-10-28     NA No moths …
 8 T08          1 XX            0 T08-1   1992-10-29     NA No moths …
 9 T08          1 XX            0 T08-1   1992-10-30     NA No moths …
10 T08          1 550           1 T08-1   1992-10-31     NA Brachiony…
# … with 18,191 more rows, and 27 more variables: DESC_COMMON <chr>,
#   IM_GROUP <chr>, Genus <chr>, species <chr>, `COMMON NAME` <chr>,
#   Family <chr>, UK_DIST <dbl>, LARVAL_PLANT <dbl>, FEED_SPEC <dbl>,
#   HAB1 <dbl>, HAB2 <dbl>, HAB3 <dbl>, HAB4 <dbl>, HAB5 <dbl>, HAB6 <dbl>,
#   HAB7 <dbl>, HAB8 <dbl>, HAB9 <dbl>, WINGSPAN <dbl>, SPAN_GRP <dbl>,
#   OVERWINTER <dbl>, VOLT <dbl>, FLY_TIME <dbl>, LARVA_TIME1 <dbl>,
#   LARVA_TIME2 <dbl>, LARVA_TIME3 <dbl>, LARVA_TIME4 <dbl>

`summarise()` ungrouping output (override with `.groups` argument)

# A tibble: 10 x 7
# Groups:   seq_id [10]
   DATE       VALUE seq_id STARTDATE  ENDDATE    duration next_meas
   <date>     <int>  <dbl> <date>     <date>        <int>     <dbl>
 1 1992-11-15    NA      1 1992-11-15 1992-11-15        1         1
 2 1993-03-29    NA      2 1993-03-29 1993-03-29        1         1
 3 1993-05-06    NA      3 1993-05-06 1993-05-06        1         1
 4 1993-05-08    NA      4 1993-05-08 1993-05-08        1         1
 5 1993-05-22    NA      5 1993-05-22 1993-05-22        1         1
 6 1993-05-24    NA      6 1993-05-24 1993-05-24        1         1
 7 1993-05-27    NA      7 1993-05-27 1993-05-27        1         1
 8 1993-06-04    NA      8 1993-06-04 1993-06-04        1         1
 9 1993-06-19    NA      9 1993-06-19 1993-06-19        1         1
10 1993-07-31    NA     10 1993-07-31 1993-07-31        1         1

Adding missing grouping variables: `seq_id`

Joining, by = "DATETIME"

`summarise()` regrouping output by 'year(DATETIME)' (override with `.groups` argument)

[1] "check_alldates: assuming dates are recorded same day each month"
[1] "missing dates:" "TRUE"

Joining, by = "DATETIME"

`summarise()` ungrouping output (override with `.groups` argument)

Joining, by = "month"

`summarise()` regrouping output by 'month' (override with `.groups` argument)

Joining, by = c("month", "site")

[1] "site:" "T09"
[1] "Date"

Joining, by = "DATE"

The number of unsampled days during the selected date range at this site is: 1806.

The top 10 unsampled periods during the selected date range at this site is:

# A tibble: 10 x 4
# Groups:   seq_id [10]
   seq_id STARTDATE  ENDDATE    duration
    <dbl> <date>     <date>        <int>
 1    518 2014-12-17 2015-01-27       42
 2    216 2006-12-26 2007-01-30       36
 3    437 2012-12-05 2013-01-09       36
 4    254 2007-12-29 2008-01-26       29
 5     40 2000-01-03 2000-01-27       25
 6    295 2009-01-24 2009-02-15       23
 7    480 2014-01-01 2014-01-22       22
 8     98 2004-01-01 2004-01-21       21
 9    367 2010-12-16 2011-01-05       21
10    438 2013-01-11 2013-01-31       21

# A tibble: 30,087 x 35
# Groups:   DATE [6,575]
   SITECODE LCODE FIELDNAME VALUE station DATE       FLAGID DESC_LATIN
   <fct>    <int> <chr>     <int> <chr>   <date>      <int> <chr>
 1 T09          1 XX            0 T09-1   1993-01-02     NA No moths …
 2 T09          1 XX            0 T09-1   1993-01-03     NA No moths …
 3 T09          1 XX            0 T09-1   1993-01-04     NA No moths …
 4 T09          1 XX            0 T09-1   1993-01-05     NA No moths …
 5 T09          1 XX            0 T09-1   1993-01-06     NA No moths …
 6 T09          1 XX            0 T09-1   1993-01-07     NA No moths …
 7 T09          1 XX            0 T09-1   1993-01-08     NA No moths …
 8 T09          1 XX            0 T09-1   1993-01-09     NA No moths …
 9 T09          1 XX            0 T09-1   1993-01-10     NA No moths …
10 T09          1 XX            0 T09-1   1993-01-11     NA No moths …
# … with 30,077 more rows, and 27 more variables: DESC_COMMON <chr>,
#   IM_GROUP <chr>, Genus <chr>, species <chr>, `COMMON NAME` <chr>,
#   Family <chr>, UK_DIST <dbl>, LARVAL_PLANT <dbl>, FEED_SPEC <dbl>,
#   HAB1 <dbl>, HAB2 <dbl>, HAB3 <dbl>, HAB4 <dbl>, HAB5 <dbl>, HAB6 <dbl>,
#   HAB7 <dbl>, HAB8 <dbl>, HAB9 <dbl>, WINGSPAN <dbl>, SPAN_GRP <dbl>,
#   OVERWINTER <dbl>, VOLT <dbl>, FLY_TIME <dbl>, LARVA_TIME1 <dbl>,
#   LARVA_TIME2 <dbl>, LARVA_TIME3 <dbl>, LARVA_TIME4 <dbl>

# A tibble: 0 x 35
# Groups:   DATE [0]
# … with 35 variables: SITECODE <fct>, LCODE <int>, FIELDNAME <chr>,
#   VALUE <int>, station <chr>, DATE <date>, FLAGID <int>, DESC_LATIN <chr>,
#   DESC_COMMON <chr>, IM_GROUP <chr>, Genus <chr>, species <chr>, `COMMON
#   NAME` <chr>, Family <chr>, UK_DIST <dbl>, LARVAL_PLANT <dbl>,
#   FEED_SPEC <dbl>, HAB1 <dbl>, HAB2 <dbl>, HAB3 <dbl>, HAB4 <dbl>,
#   HAB5 <dbl>, HAB6 <dbl>, HAB7 <dbl>, HAB8 <dbl>, HAB9 <dbl>, WINGSPAN <dbl>,
#   SPAN_GRP <dbl>, OVERWINTER <dbl>, VOLT <dbl>, FLY_TIME <dbl>,
#   LARVA_TIME1 <dbl>, LARVA_TIME2 <dbl>, LARVA_TIME3 <dbl>, LARVA_TIME4 <dbl>

# A tibble: 30,087 x 35
# Groups:   DATE [6,575]
   SITECODE LCODE FIELDNAME VALUE station DATE       FLAGID DESC_LATIN
   <fct>    <int> <chr>     <int> <chr>   <date>      <int> <chr>
 1 T09          1 XX            0 T09-1   1993-01-02     NA No moths …
 2 T09          1 XX            0 T09-1   1993-01-03     NA No moths …
 3 T09          1 XX            0 T09-1   1993-01-04     NA No moths …
 4 T09          1 XX            0 T09-1   1993-01-05     NA No moths …
 5 T09          1 XX            0 T09-1   1993-01-06     NA No moths …
 6 T09          1 XX            0 T09-1   1993-01-07     NA No moths …
 7 T09          1 XX            0 T09-1   1993-01-08     NA No moths …
 8 T09          1 XX            0 T09-1   1993-01-09     NA No moths …
 9 T09          1 XX            0 T09-1   1993-01-10     NA No moths …
10 T09          1 XX            0 T09-1   1993-01-11     NA No moths …
# … with 30,077 more rows, and 27 more variables: DESC_COMMON <chr>,
#   IM_GROUP <chr>, Genus <chr>, species <chr>, `COMMON NAME` <chr>,
#   Family <chr>, UK_DIST <dbl>, LARVAL_PLANT <dbl>, FEED_SPEC <dbl>,
#   HAB1 <dbl>, HAB2 <dbl>, HAB3 <dbl>, HAB4 <dbl>, HAB5 <dbl>, HAB6 <dbl>,
#   HAB7 <dbl>, HAB8 <dbl>, HAB9 <dbl>, WINGSPAN <dbl>, SPAN_GRP <dbl>,
#   OVERWINTER <dbl>, VOLT <dbl>, FLY_TIME <dbl>, LARVA_TIME1 <dbl>,
#   LARVA_TIME2 <dbl>, LARVA_TIME3 <dbl>, LARVA_TIME4 <dbl>

`summarise()` ungrouping output (override with `.groups` argument)

# A tibble: 10 x 7
# Groups:   seq_id [8]
   DATE       VALUE seq_id STARTDATE  ENDDATE    duration next_meas
   <date>     <int>  <dbl> <date>     <date>        <int>     <dbl>
 1 1993-01-18    NA      1 1993-01-18 1993-01-18        1         1
 2 1993-03-27    NA      2 1993-03-27 1993-03-29        3         3
 3 1993-03-28    NA      2 1993-03-27 1993-03-29        3         2
 4 1993-03-29    NA      2 1993-03-27 1993-03-29        3         1
 5 1993-05-12    NA      3 1993-05-12 1993-05-12        1         1
 6 1993-07-21    NA      4 1993-07-21 1993-07-21        1         1
 7 1993-10-05    NA      5 1993-10-05 1993-10-05        1         1
 8 1993-12-09    NA      6 1993-12-09 1993-12-09        1         1
 9 1994-03-24    NA      7 1994-03-24 1994-03-24        1         1
10 1994-06-02    NA      8 1994-06-02 1994-06-02        1         1

Adding missing grouping variables: `seq_id`

Joining, by = "DATETIME"

`summarise()` regrouping output by 'year(DATETIME)' (override with `.groups` argument)

[1] "check_alldates: assuming dates are recorded same day each month"
[1] "missing dates:" "TRUE"

Joining, by = "DATETIME"

`summarise()` ungrouping output (override with `.groups` argument)

Joining, by = "month"

`summarise()` regrouping output by 'month' (override with `.groups` argument)

Joining, by = c("month", "site")

Joining, by = c("DATETIME", "counts", "n_species", "seq_id", "next_meas", "duration", "ENDDATE", "next_counts", "yearmonth", "month", "ma2x12", "detrend_ma2x12", "decomp_seas_comp", "std_decomp_seas", "decomp_deseason", "site", "decomp_deseason_sd", "decomp_deseason_std")

In [129]:
head( inputDataMA )

  DATE       FIELDNAME SITECODE daily
1 1991-05-28 DRYTMP    T04       5.490000
2 1991-05-28 NETRAD    T04       6.555556
3 1991-05-28 RAIN      T04       0.000000
4 1991-05-28 SOLAR     T04      58.888889
5 1991-05-28 STMP10    T04      10.022222
6 1991-05-28 STMP30    T04       9.155556

In [130]:
tmp <- read.csv("/data/ecn/ECN_IM1.csv")
head( tmp )
#( mindate_moth <- min(tmp$SDATE) )
#( maxdate_moth <- min(tmp$SDATE) )

  SITECODE LCODE SDATE     FIELDNAME VALUE
1 T06      2     24-FEB-92 2542      1
2 T06      2     24-FEB-92 929       1
3 T06      2     25-FEB-92 2542      1
4 T06      2     25-FEB-92 929       1
5 T06      2     05-MAR-92 907       1
6 T06      2     09-MAR-92 571       1

ERROR: Error: 'tmp' is not an exported object from 'namespace:lubridate'